<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css"/>
</head>
<body>
    <div class="container">
        <h1><%= title %></h1>

        <ul>
            <% for (var i = 0; i < items.length; ++i) {%>
                <li><%= items[i].desc %></li>
            <% }%>
        </ul>

        <form action="/user/add" method="post">
            <input type="text" name="newItem">
            <input class="btn btn-success" type="submit">
            <input class="btn btn-warning" type="submit">
            <input class="btn btn-danger" type="submit">

            <input class="btn btn-default" type="submit">
            <input class="btn btn-primary" type="submit">
            <input class="btn btn-info" type="submit">
        </form>
    </div>

    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
